<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}SITE D'ANNONCE{% endblock %}</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('advert/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('advert/css/shop-homepage.css') }}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
  <!-- Navigation -->

  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  

      <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Site Annonce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        {% if is_granted('ROLE_USER') %}
        
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('home')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_account') }}">Account</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <a class="nav-item active" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
          <a class="nav-item active" href="{{ path('app_login') }}">Login</a>
        {% endif %}
         </div>
      </div>
      
    </nav>
     
     <!-- Page Content -->
    <div class="container">

        <div class="row">

            

            {% block body %}
            
            <div class="col-lg-3">

                <h1 class="my-4">Annonces </h1>
                <div class="list-group">

                    <a href="{{ path('home')}}" class="list-group-item">Tous les annonces </a>
                    <a href="{{ path('add')}}" class="list-group-item">Ajouter une annonce </a>
                  
                    
                </div>

            </div>

            {% endblock %}
        </div>

    </div>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    {% block javascripts %}
    <script src="{{ asset('advert/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('advert/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
  </body>

</html>
