{%  extends 'base.html.twig' %}

{%  block body %}
{{ parent()}}
<div class="col-lg-9">
            {% for message in app.flashes('notice') %}
              <div class="alert alert-success">
                  {{ message }}
              </div>
            {% endfor %}

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
           
            <div class="card-body">
              <h3 class="card-title">{{ title_transformer(advert.title) }}</h3>
              <h4>{{ advert.date|date('d/m/Y', "Europe/Paris") }}</h4>
              <p class="card-text">{{ advert.content }}</p>
              <span class="text-warning">{{ advert.author }}</span>
            
            </div>
             {% if listAdvertSkills|length > 0 %}
          <div>
               <h6 class="card-title">Cette annonce requiert les compétences suivantes :</h6>
              <ul>
                {% for advertSkill in listAdvertSkills %}
                  <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                {% endfor %}
              </ul>
          </div>
          {% endif %}
          </div>

         

          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Reviews
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
              <hr>
              <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
          </div>
          <!-- /.card -->
          

</div>
        <!-- /.col-lg-9 -->
{% endblock %}